<p>Dear {{ name }},</p>

<p>Your coupon code below: </p>

<h3>{{code}}</h3>

<strong>Why you received this email?</strong>
<p>E-Commerce Training want to share you a coupon code.</p>

<p>If you did not request this email you can safely ignore it.</p>